header {
  display: fixed;
  background: linear-gradient(115.94deg, #31324D 5.68%, #9A5A98 97.96%);
}

button:active, button:focus, input:active, input:focus {
  outline: none;
}

ul li {
  list-style-type: none;
}

.nav-top__menu ul li, .nav-top a, .nav-top span {
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
}
.nav-top__menu ul li a, .nav-top a a, .nav-top span a {
  text-decoration: none;
}
.nav-top__menu-contacts {
  margin-right: 55px;
  padding: 5px 20px;
  background: rgba(97, 34, 88, 0.54);
}
.nav-top__brand {
  margin-left: 102px;
}
.nav-top__button ul {
  margin-top: 15px;
}
.nav-top__button ul li {
  list-style-type: none;
}
.nav-top__button ul li span{
  display: inline-block;
  margin-top: 2px;
}
.nav-top__button ul li img {
  margin-top: -7px;
}
.nav-top__button_text div {
  background: rgba(225, 99, 194, 0.42);
  border-radius: 50px 0px 0px 50px;
  padding: 1px;
}
.nav-top__button button {
  background: #FFFFFF;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  padding: 14.5px 30px;
  font-size: 18px;
  font-weight: 800;
}
.nav-top__button_but div {
  border-radius: 0px 50px 50px 0px !important;
  padding-right: 0px;
  background: rgba(225, 99, 194, 0.42);
}

.description {
  background: linear-gradient(128.4deg, #31324D 4.99%, #E979D0 45.47%);
}
.description__name {
  color: #ffffff;
  font-size: 24px;
}
.description__first-block ul li, .description__second-block ul li, .description__three-block ul li {
  margin-bottom: 7px;
  margin-top: 7px;
  color: #ffffff;
  list-style-type: none;
}
.description__first-block div, .description__second-block div, .description__three-block div {
  background: #252525;
  padding: 10px 10px;
}
.description__first-block div {
  border-radius: 50px 0px 0px 50px;
}
.description__three-block div {
  border-radius: 0px 5px 5px 0px;
  padding-right: 20px;
}
.description__form {
  background: #252525;
  margin-left: 10px;
  border-radius: 5px 50px 50px 5px;
  padding: 12px 40px 10px 20px;
}
.description__form p, .description__form button, .description__form div {
  color: #ffffff;
}
.description__form input, .description__form button {
  text-align: center;
  border-radius: 50px;
}
.description__form button {
  background: #EF4747;
  padding: 2px 15px 4px 33px;
  border: none;
  margin-top: 10px;
}
.description__form button img {
  margin-left: 25px;
  width: 25px;
}
.description__form div div {
  margin-top: 5px;
  font-size: 11px;
  width: 200px;
  padding: 0px;
  font-weight: 100;
}
.description__form p {
  font-size: 20px;
}
.description__certificate span {
  font-size: 18px;
  color: #ffffff;
}

.information__hr hr {
  height: 6px;
  background: #252525;
  border-radius: 50px;
  width: 300px;
}

.notes {
  background-image: url(../img/background.png);
  padding: 30px 15px;
}
.notes span {
  color: #ffffff;
  font-size: 18px;
  margin-top: 15px;
}

.footer {
  background: #E979D0;
}
.footer__contacts {
  margin-top: 60px;
}
.footer__contacts li {
  margin-bottom: 35px;
  color: #ffffff;
  font-size: 18px;
}
.footer__contacts li img {
  margin-right: 45px;
}
.footer__form {
  margin-left: 30px;
  background: #C05EAD;
  padding: 60px 44px;
  border-radius: 50px;
  color: #ffffff;
}
.footer__form b {
  font-size: 24px;
  font-weight: 500;
}
.footer__form span {
  font-size: 18px;
}
.footer__form input {
  width: 400px;
  height: 40px;
  text-align: center;
  margin-top: 15px;
  border-radius: 5px;
}
.footer__form button {
  margin-top: 30px;
  border: none;
  width: 310.87px;
  height: 47.45px;
  background: #252525;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}
.footer__form button span {
  color: #ffffff;
}
.footer__form button img {
  width: 30px;
  margin-left: 40px;
}

.nav-top {
  padding-top: 18px;
}
.nav-top__menu ul li {
  margin-right: 70px;
}
.nav-top__menu {
  margin-top: -10px;
}
.nav-top__menu ul li a {
  margin-top: 5px;
}
.nav-top__brand {
  margin-top: 6px;
}
.nav-top__general {
  margin-left: 90px;
  margin-top: 130px;
  color: #ffffff;
}
.nav-top__general h3 {
  font-size: 48px;
  font-weight: 100;
  margin-left: 3px
}
.nav-top__general h1 {
  font-size: 76px;
  margin-top: -20px
}
.nav-top__information {
  margin-left: 110px;
  margin-top: -20px;
}
.nav-top__information p, .nav-top__information span {
  color: #ffffff;
}
.nav-top__information p {
  font-weight: 200;
  font-size: 18px;
  margin-top: 25px;
  background: #252525;
  padding: 1px 50px;
}
.nav-top__information span {
  background: inherit;
  font-size: 48px;
  font-weight: 100;
  padding: 0px;
  margin-left: 10px;
}
.nav-top__information div {
  padding: 0px;
}
.nav-top__button ul li {
  margin-right: 40px;
}
.nav-top__button ul li img {
  margin-right: 10px;
}
.nav-top__button {
  margin-top: 80px;
  padding-bottom: 80px;
}

.logo {
  margin-top: 40px;
}
.logo__figma, .logo__photoshop {
  margin-right: 100px;
}
.logo__line hr {
  width: 330px;
  height: 6px;
  background: #252525;
  border-radius: 0px 50px 50px 0px;
}
.logo__content {
  margin-top: 50px;
  padding-bottom: 50px;
}

.description__name {
  margin-top: 50px;
  margin-bottom: 80px;
}
.description__certificate {
  margin-top: 45px;
  padding-bottom: 45px;
}

.information {
  padding: 40px 80px;
}
.information__hr hr {
  margin-left: 80px;
}
.information__headline {
  margin-left: 60px;
  font-size: 24px;
}
.information__content-first {
  margin-top: 100px;
}
.information__content-two {
  margin-top: 40px;
  padding-bottom: 80px;
}

.footer {
  padding-top: 70px;
}
.footer__down {
  margin-top: 60px;
  font-size: 18px;
}
.footer .icons {
  margin-left: 90px;
}
.description__col-block {
  display: none
}
@media screen and (max-width: 993px) {
  .nav-top__background {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .nav-top__brand {
    margin-top: 0px;
    margin-left: 0px;
    padding: 15px 0
  }
  .nav-top {
    padding-top: 0px;
  }
  .nav-top__background {
    background: #252525
  }
  .nav-top__menu button{
    margin-top: 20px;
    margin-left: auto;
    margin-right: 0px;
  }
  .nav-top__menu ul li{
    margin-right: 0;
    margin-left: auto;
  }
  .nav-top__menu-contacts {
    margin-right: 0;
  }
  .description__second-block div {
    padding: 10px 0px;
  }
  .description__form {
    padding: 15px 15px 0px 0px
  }
  .description__form b {
    font-size: 15px
  }
  .notes span {
    font-size: 13px
  }
  .footer__contacts .contact{
    display: none
  }
  .footer__contacts .icon {
    display: block;
    margin: 0 auto
  }
  .footer .icons {
    margin-left: 0px;
  }
  .footer__form {
    width: 700px
  }
  .information__hr {
    display: none
  }
  .information__headline {
    margin: 0 auto
  }
}
@media screen and (max-width: 768px) {
  .footer__form {
    width: auto
  }
  .footer .icons {
    margin-left: 0px;
  }
  .footer__contacts .icon {
    display: block;
    margin: 0 auto
  }
  .notes span{
    font-size: 9px
  }
  .nav-top__button_text {
    display: none
  }
  .nav-top__button_but div{
    background: none
  }
  .description__second-block {
    display: none
  }
  .description__first-block div{
    border-radius: 50px 0px 0px 5px
  }
  .description__three-block div {
    border-radius: 0px 50px 5px 0px;
    padding-right: 50px
  }
  .description__form {
    margin-left: -1px;
    padding: 0px;
    margin-top: 15px;
    width: 456px;
    border-radius: 5px 5px 50px 50px
  }
  .description__form div {
    margin: 0 auto;
    padding-bottom: 10px
  }
  .information__headline {
    margin: 0 auto;
  }
  .information__hr {
    display: none
  }
}
@media screen and (max-width: 576px) {
  .nav-top__menu ul li, .nav-top__menu button {
    margin-left: 0px;
  }
  .nav-top__general {
    margin-left: 0px
  }
  .nav-top__general h3 {
    font-size: 24px;
    margin: 0px
  }
  .nav-top__general h1 {
    font-size: 28px;
    margin-top: 0px
  }
  .nav-top__information p {
    font-size: 13px;
    padding: 1px 25px
  }
  .nav-top__information {
    margin-top: 0px;
    margin-left: 0px;
  }
  .nav-top__information div {
    margin: 0 auto
  }
  .nav-top__brand img {
    width: 100px
  }
  .navbar-toggler-icon {
    width: 15px !important
  }
  .nav-top__menu button {
    margin-top: 13px;
    margin-left: auto;
    
  }
  .nav-item a{
    font-size: 12px
  }
  .nav-item div{
    display: none
  }
  .nav-top__menu-contacts {
    padding: 0px;
    text-align: right;
    display: inline-block;
    margin-right: -50px;
    padding: 5px 5px
  }

  .nav-top__menu-contacts span {
    font-size: 11px
  }
  .nav-top__menu ul li {
    margin-left: auto
  }
  .nav-top__information div {
    margin-right: 0px
  }
  .logo img {
    width: 35px;
    height: 35px
  }
  .logo__figma, .logo__photoshop {
    margin-right: 0px
  }
  .description__col-block {
    display: block;
    color: #ffffff;
    border-radius: 40px 40px 5px 5px;
    background: #252525;
    width: 280px;
    padding: 10px
  }
  .description__form {
    width: 280px;
    border-radius: 5px 5px 40px 40px; 
  }
  .description__col-block .special{
    text-align: right;
    margin-top: 5px
  }
  .description__first-block, .description__three-block {
    display: none
  }
  .description__certificate img {
    width: 70px;
    margin-right: 20px
  }
  .description__certificate span {
    font-size: 12px;
  }
  .description__certificate div {
    padding: 0px
  }
  .information {
    padding: 20px 40px;
    font-size: 12px
  }
  .information__content-first {
    margin-top: 20px
  }
  .information__content-two {
    margin-top: 0px;
    padding-bottom: 0px
  }
  .information__headline {
    font-size: 18px;
  }
  .notese__image img{
    width: 30px
  }
  .footer__form {
    margin-left: 0px
  }
  .footer__form input, .footer__form button {
    width: 210px !important
  }
  .footer__form button {
    width: auto;
    padding: 0 30px
  }
  .footer__form span {
    font-size: 12px
  }
  .footer__form button img {
    width: 25px;
    margin-left: 10px
  }
  .footer__down {
    margin-top: 0px
  }
  .nav-top__information p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    padding: 1px 10px;
  }
  .nav-top__information span {
    display: block;
    margin-top: -10px;
    font-size: 47px;
  }
  .logo__figma img {
    width: 25px;
    height: 35px;
  }
  .logo__content p {
    text-align: center !important
  }
  .logo__content span {
    text-align: left !important
  }
  .footer__form b {
    font-size: 20px
  }
  .nav-top__menu {
    margin-right: -15px
  }
  .logo__line hr {
    display: none
  }
}


