header {
  background: linear-gradient(164.33deg, #31324D 3.61%, #E979D0 79.48%);
}

.nav-top {
  padding-bottom: 6px;
}
.nav-top__menu ul li, .nav-top a, .nav-top span {
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
}
.nav-top__menu ul li a, .nav-top a a, .nav-top span a {
  text-decoration: none;
}
.nav-top__menu-contacts {
  margin-right: 55px;
  padding: 5px 20px;
  background: rgba(97, 34, 88, 0.54);
}
.nav-top__brand {
  margin-top: 25px;
  margin-left: 100px;
}

.nav-top__menu ul li {
  margin-top: 10px;
  margin-right: 70px;
}

.nav-blog {
  margin-top: 140px;
}
.content__image div div{
  padding: 0px;
}
.content__image img {
  width: 100%;
  margin-top: -1px
}
.footer {
  background: #252525;
  padding: 10px 0;
}
.footer span {
  color: #ffffff;
  font-size: 18px;
}

.content__text h4 {
  margin-top: 65px;
}
.content__text p {
  margin-top: 25px;
}
.content__button {
  margin-top: 90px;
  margin-bottom: 90px;
}
.content__button button {
  border: none;
  color: #ffffff;
  background: #EF4747;
  border-radius: 50px;
  padding: 5px 15px 5px 40px;
}
.content__button button img {
  margin-left: 20px;
  width: 30px;
}

.nav-item a {
  margin-top: 10px;
}

@media screen and (max-width: 992px) {
  .nav-top__background {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: #252525
  }
  .nav-top__menu {
    margin-top: -5px
  }
  .content__image img {
    margin-top: 65px
  }
  .nav-top__brand {
    margin-top: 0px;
    margin-left: 0px;
    padding: 15px 0
  }
  .nav-top {
    padding-top: 0px;
  }
 
  .nav-top__menu button{
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0px;
  }
  .nav-top__menu ul li{
    margin-right: 0;
    margin-left: auto;
  }
  .nav-top__menu-contacts {
    margin-right: 0;
  }
  .content__block {
    border-radius: 15px;
  }
}
@media screen and (max-width: 576px) {
  .content__image img {
    margin-top: 50px
  }
  .nav-top__menu-contacts {
    padding: 0px;
    text-align: right;
    display: inline-block;
    margin-right: -50px;
  }
  .navbar {
    padding: 5px 0px 5px 0px;
  }
  .nav-top__menu-contacts span {
    font-size: 11px
  }
  .nav-top__menu ul li, .nav-top__menu button {
    margin-left: 0px;
  }
  .content__button  {
    margin: 50px 0px
  }
  .nav-top__brand img {
    width: 100px
  }
  .navbar-toggler-icon {
    width: 15px !important
  }
  .nav-top__menu button {
    margin-left: auto !important
  }
  .nav-item a{
    font-size: 12px
  }
  .nav-item div{
    display: none
  }
  .nav-top__menu ul li, .nav-top__menu button {
    margin-left: 0px;
  }
  .nav-top__menu-contacts {
    padding: 0px;
    text-align: right;
    display: inline-block;
    margin-right: -50px;
    padding: 5px 5px
  }
  .nav-top__menu ul li {
    margin-top: 0px;
    margin-left: auto
  }
  .nav-top__information div {
    margin-right: 0px
  }
}