/* @media screen and (max-width: 1199px) {
    .profile__schedule ul {
        margin-left: 50px;
      }
    .profile__skills p {
        margin-left: 40px;
    }
      
    .content__name {
        margin-left: 107px;
    }
}



@media screen and (max-width: 992px) {
   .profile__skills p {
    margin-top: 10px;
    margin-left: -8px;
    }
    .profile__schedule ul {
        margin-left: 8px;
        margin-top: -10px;
    }
    
    .footer p {
        text-align: center;
    }
    
    .content__name {
        margin-left: 0px;
    }
    .content__logo {
        text-align: center;
    }
    
    .nav-top__logo {
        text-align: center;
    }
    .nav-top__logo p {
        margin: 12px auto;
    }
    .nav-top__menu ul {
        margin: 0 auto;
    }
} */
