ul  
    margin: 0px
    padding: 0px
    & li 
        list-style-type: none
a 
    color: #ffffff 
    &:hover 
        text-decoration: none

button
    border: none
    &:focus 
        outline: none

.header 
    &-top 
        padding: 20px 0 20px 0
        background-color: #434343
    &-top__settings ul li a
        margin-right: 38px
    &-top__account ul li a 
        margin-left: 38px
    &-top__account ul li img 
        margin-right: 5px
    &-mid 
        padding: 34px 0
        background-color: #363636
        &__contact 
            margin-top: 30px
            & p 
                margin-top: 3px
                margin-left: 13px
                color: #ffffff 
    &-menu 
        padding: 18.5px
        box-shadow: 0px 15px 11px -8px rgba(0,0,0,0.4)
        &__search 
            & label 
                border: 1px solid black
                margin-right: -5px
                padding: 10px 15px
            & input 
                border: none
                outline: none
                border: 1px solid black
                border-right: none
                padding: 10px 15px
            & .fa-search
                border: 1px solid black 
                border-left: none   
                padding: 14px 10px
            & .fa 
                margin-right: 10px
                color: #d58e32
        &__nav li 
           
            & a 
                padding: 37px 12px
                font-weight: 500
                color: #000000
                &:hover, &:focus
                    padding: 35px 12px
                    background-color: #d58e32
                    border-top: 2px solid #000000
                    border-radius: 0 0 3px 3px
            

.firstBlock 
    &__top
        padding: 18px 24px
        background-color: #2a2a2a 
        & a:hover, a:focus
            color: #d58e32 
        & span 
            color: #ffffff
            margin-right: 151px
    &__mid 
        background-color: #f4f5f7
        padding-bottom: 1px
        & button 
            border: none
            margin-left: 114px
            margin-top: 96px
            padding: 10px 7px
            background-color: #2a2a2a 
            &:focus 
                outline: none
            & span 
                color: #ffffff
            & img 
                margin-top: -3px
                margin-right: 4px
        & ul
            margin-left: 28px
            margin-top: 76px 
            & li 
                margin-right: 6px
                width: 71px
                height: 71px
                padding-top: 8px
                text-align: center
                background-color: #2a2a2a
                color: #ffffff
                opacity: 0.9
                border-radius: 50px
    &__bottom 
        padding-top: 17px
        border: 1px solid #808080
        border-top: none
        ul  
            margin-bottom: 32px
            margin-left: 5px
            margin-top: 18px
            & li 
                padding: 11px
                border: 1px solid #000000 
                margin-right: 5px
            & .special-one
                padding: 12px
                font-size: 15px
                margin-left: 50px
                border: none
                text-decoration: line-through
                opacity: .3
            & .special-two 
                background-color: #2a2a2a
                font-size: 18px
                color: #ffffff
        &_stars, p 
            text-align: center
    &__offer 
        background-color: #cccccc
        padding-top: 150px
        padding-bottom: 77px
        & p 
            margin: 0
            font-size: 54px
        & span , p 
            color: #ffffff
            text-transform: uppercase
        &_text 
            
            padding: 40px 90px
            background-color: #000000
            opacity: 0.6
        & button 
            padding: 22px 28px
            border-radius: 3px
            background-color: #ffffff
            border: none
            margin-top: 20px
    &__buttons 
        & button 
            padding: 3.5px 171px 
        & .right 
            background-color: #d58e32
            margin-left: -5px 
        & .left 
            background-color: #2a2a2a
    &__advantage 
        & ul 
            margin-top: 60px
            & li
                margin-right: 40px
                padding: 5px 60px
                border: 1px solid #000000
                & p 
                    text-transform: uppercase
                    margin-top: 10px
                & img 
                    margin-top: -50px

.products 
    padding-top: 40px
    &__special
        margin-top: 25px
    &__headline
        text-transform: uppercase
        color: #d58e32
        font-size: 20px
        font-weight: 700
        & p 
            margin: 0
    &__nav 
        margin-left: 208px
        & ul li 
            margin-right: 30px        
            & a
                color: #2a2a2a
                font-size: 18px
                font-weight: 500
                color: #000000
                &:hover 
                    border-bottom: 3px solid #d58e32
                    padding-bottom: 21px
                    position: relative
                    z-index: 3
    &__line 
        & hr 
            height: 3px
            width: 100%
            background-color: #e2e2e2
            border: none
            position: relative
            z-index: 1
    &__choice
        & a 
           color: #e2e2e2
           &:hover, &:focus
               color: #d58e32
    &__product-top
        background: url('../img/product.png')
        height: 260px
        & button 
            background-color: #2a2a2a
            color: #ffffff
            font-size: 13px
            padding: 0 8px
            height: 35px
            margin-top: 200px
            & span 
                margin-left: 5px
                font-weight: 500
    &__product-bottom
        border: 1px solid #e2e2e2
        border-top: none
        padding: 16px 10px
        &_headline p 
            color: #d58e32
            font-family: "Poppins - Semi Bold"
            font-size: 16px
            font-weight: 600
        &_stars 
            & i 
                margin-right: 7px
                &:hover, &:focus
                    color: #d58e32
        &_hr hr
            background-color: #2a2a2a
            height: 1px
            width: auto  
        &_butt ul li  
            margin-right: 5px
            border: 1px solid #000000
            padding: 7px 10px
        &_price span 
            padding: 9px 11px
            background-color: #d58e32
            color: #ffffff
            font-size: 18px
            font-weight: 400

.blog 
    padding-top: 55px
    &__content
        padding-bottom: 10px
    &__content_text 
        padding-top: 15px
        margin-top: -50px
        background-color: #ffffff
        & span 
            color: #676767
            font-family: Poppins
            font-size: 14px
            font-weight: 600
        & p 
            margin-top: 15px
            color: #d58e32
            font-family: "Poppins - Semi Bold"
            font-size: 17px
            font-weight: 600
    &__button button 
        margin-top: 38px
        padding: 15px 40px
        color: #ffffff
        background-color: #2a2a2a
        font-size: 16px
        font-weight: 500
        &:hover 
            background-color: #d58e32
    &__button-left button,&__button-right button 
        background-color: #2a2a2a
        padding: 40px 13px
        & i 
            color: #ffffff
    &__brand 
        border: 1px solid #cccccc
        padding: 25px 22px
    &__button-right button 
        display: block
        margin-right: 0
        margin-left: auto
    &__review-logo, &__review-text , &__account
        margin-top: 32px
    &__review-text , &__account_client
        color: #676767
        font-family: Poppins
        font-size: 14px
        font-weight: 400
    &__account
        margin-bottom: 61px
        &_name 
            color: #676767
            font-family: "Poppins - Semi Bold"
            font-size: 16px
            font-weight: 900
 
.information
    background-color: #363636
    &__block 
        margin-top: 62px
        margin-bottom: 28px 
        & p 
            text-transform: uppercase
            color: #ffffff
            font-size: 22px
            font-weight: 600
        & ul li a 
            color: #a9a9a9
            font-family: Poppins
            font-size: 14px
    &__cards 
        margin-bottom: 53px


.footer
    background-color: #2a2a2a
    padding: 40px 0
    &__icon ul li 
        margin-left: 20px
    &__describe 
        margin-left: 280px
        & span 
            color: #a9a9a9
            font-family: Poppins
            font-size: 14px
    

        
