ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style-type: none;
}

a {
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

.header-top {
  padding: 20px 0 20px 0;
  background-color: #434343;
}

.header-top__settings ul li a {
  margin-right: 38px;
}

.header-top__account ul li a {
  margin-left: 38px;
}

.header-top__account ul li img {
  margin-right: 5px;
}

.header-mid {
  padding: 34px 0;
  background-color: #363636;
}

.header-mid__contact {
  margin-top: 30px;
}

.header-mid__contact p {
  margin-top: 3px;
  margin-left: 13px;
  color: #ffffff;
}

.header-menu {
  padding: 18.5px;
  -webkit-box-shadow: 0px 15px 11px -8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 11px -8px rgba(0, 0, 0, 0.4);
}

.header-menu__search label {
  border: 1px solid black;
  margin-right: -5px;
  padding: 10px 15px;
}

.header-menu__search input {
  border: none;
  outline: none;
  border: 1px solid black;
  border-right: none;
  padding: 10px 15px;
}

.header-menu__search .fa-search {
  border: 1px solid black;
  border-left: none;
  padding: 14px 10px;
}

.header-menu__search .fa {
  margin-right: 10px;
  color: #d58e32;
}

.header-menu__nav li a {
  padding: 37px 12px;
  font-weight: 500;
  color: #000000;
}

.header-menu__nav li a:hover, .header-menu__nav li a:focus {
  padding: 35px 12px;
  background-color: #d58e32;
  border-top: 2px solid #000000;
  border-radius: 0 0 3px 3px;
}

.firstBlock__top {
  padding: 18px 24px;
  background-color: #2a2a2a;
}

.firstBlock__top a:hover, .firstBlock__top a:focus {
  color: #d58e32;
}

.firstBlock__top span {
  color: #ffffff;
  margin-right: 151px;
}

.firstBlock__mid {
  background-color: #f4f5f7;
  padding-bottom: 1px;
}

.firstBlock__mid button {
  border: none;
  margin-left: 114px;
  margin-top: 96px;
  padding: 10px 7px;
  background-color: #2a2a2a;
}

.firstBlock__mid button:focus {
  outline: none;
}

.firstBlock__mid button span {
  color: #ffffff;
}

.firstBlock__mid button img {
  margin-top: -3px;
  margin-right: 4px;
}

.firstBlock__mid ul {
  margin-left: 28px;
  margin-top: 76px;
}

.firstBlock__mid ul li {
  margin-right: 6px;
  width: 71px;
  height: 71px;
  padding-top: 8px;
  text-align: center;
  background-color: #2a2a2a;
  color: #ffffff;
  opacity: 0.9;
  border-radius: 50px;
}

.firstBlock__bottom {
  padding-top: 17px;
  border: 1px solid #808080;
  border-top: none;
}

.firstBlock__bottom ul {
  margin-bottom: 32px;
  margin-left: 5px;
  margin-top: 18px;
}

.firstBlock__bottom ul li {
  padding: 11px;
  border: 1px solid #000000;
  margin-right: 5px;
}

.firstBlock__bottom ul .special-one {
  padding: 12px;
  font-size: 15px;
  margin-left: 50px;
  border: none;
  text-decoration: line-through;
  opacity: .3;
}

.firstBlock__bottom ul .special-two {
  background-color: #2a2a2a;
  font-size: 18px;
  color: #ffffff;
}

.firstBlock__bottom_stars, .firstBlock__bottom p {
  text-align: center;
}

.firstBlock__offer {
  background-color: #cccccc;
  padding-top: 150px;
  padding-bottom: 77px;
}

.firstBlock__offer p {
  margin: 0;
  font-size: 54px;
}

.firstBlock__offer span, .firstBlock__offer p {
  color: #ffffff;
  text-transform: uppercase;
}

.firstBlock__offer_text {
  padding: 40px 90px;
  background-color: #000000;
  opacity: 0.6;
}

.firstBlock__offer button {
  padding: 22px 28px;
  border-radius: 3px;
  background-color: #ffffff;
  border: none;
  margin-top: 20px;
}

.firstBlock__buttons button {
  padding: 3.5px 171px;
}

.firstBlock__buttons .right {
  background-color: #d58e32;
  margin-left: -5px;
}

.firstBlock__buttons .left {
  background-color: #2a2a2a;
}

.firstBlock__advantage ul {
  margin-top: 60px;
}

.firstBlock__advantage ul li {
  margin-right: 40px;
  padding: 5px 60px;
  border: 1px solid #000000;
}

.firstBlock__advantage ul li p {
  text-transform: uppercase;
  margin-top: 10px;
}

.firstBlock__advantage ul li img {
  margin-top: -50px;
}

.products {
  padding-top: 40px;
}

.products__special {
  margin-top: 25px;
}

.products__headline {
  text-transform: uppercase;
  color: #d58e32;
  font-size: 20px;
  font-weight: 700;
}

.products__headline p {
  margin: 0;
}

.products__nav {
  margin-left: 208px;
}

.products__nav ul li {
  margin-right: 30px;
}

.products__nav ul li a {
  color: #2a2a2a;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.products__nav ul li a:hover {
  border-bottom: 3px solid #d58e32;
  padding-bottom: 21px;
  position: relative;
  z-index: 3;
}

.products__line hr {
  height: 3px;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  position: relative;
  z-index: 1;
}

.products__choice a {
  color: #e2e2e2;
}

.products__choice a:hover, .products__choice a:focus {
  color: #d58e32;
}

.products__product-top {
  background: url("../img/product.png");
  height: 260px;
}

.products__product-top button {
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 13px;
  padding: 0 8px;
  height: 35px;
  margin-top: 200px;
}

.products__product-top button span {
  margin-left: 5px;
  font-weight: 500;
}

.products__product-bottom {
  border: 1px solid #e2e2e2;
  border-top: none;
  padding: 16px 10px;
}

.products__product-bottom_headline p {
  color: #d58e32;
  font-family: "Poppins - Semi Bold";
  font-size: 16px;
  font-weight: 600;
}

.products__product-bottom_stars i {
  margin-right: 7px;
}

.products__product-bottom_stars i:hover, .products__product-bottom_stars i:focus {
  color: #d58e32;
}

.products__product-bottom_hr hr {
  background-color: #2a2a2a;
  height: 1px;
  width: auto;
}

.products__product-bottom_butt ul li {
  margin-right: 5px;
  border: 1px solid #000000;
  padding: 7px 10px;
}

.products__product-bottom_price span {
  padding: 9px 11px;
  background-color: #d58e32;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.blog {
  padding-top: 55px;
}

.blog__content {
  padding-bottom: 10px;
}

.blog__content_text {
  padding-top: 15px;
  margin-top: -50px;
  background-color: #ffffff;
}

.blog__content_text span {
  color: #676767;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
}

.blog__content_text p {
  margin-top: 15px;
  color: #d58e32;
  font-family: "Poppins - Semi Bold";
  font-size: 17px;
  font-weight: 600;
}

.blog__button button {
  margin-top: 38px;
  padding: 15px 40px;
  color: #ffffff;
  background-color: #2a2a2a;
  font-size: 16px;
  font-weight: 500;
}

.blog__button button:hover {
  background-color: #d58e32;
}

.blog__button-left button, .blog__button-right button {
  background-color: #2a2a2a;
  padding: 40px 13px;
}

.blog__button-left button i, .blog__button-right button i {
  color: #ffffff;
}

.blog__brand {
  border: 1px solid #cccccc;
  padding: 25px 22px;
}

.blog__button-right button {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.blog__review-logo, .blog__review-text, .blog__account {
  margin-top: 32px;
}

.blog__review-text, .blog__account_client {
  color: #676767;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}

.blog__account {
  margin-bottom: 61px;
}

.blog__account_name {
  color: #676767;
  font-family: "Poppins - Semi Bold";
  font-size: 16px;
  font-weight: 900;
}

.information {
  background-color: #363636;
}

.information__block {
  margin-top: 62px;
  margin-bottom: 28px;
}

.information__block p {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
}

.information__block ul li a {
  color: #a9a9a9;
  font-family: Poppins;
  font-size: 14px;
}

.information__cards {
  margin-bottom: 53px;
}

.footer {
  background-color: #2a2a2a;
  padding: 40px 0;
}

.footer__icon ul li {
  margin-left: 20px;
}

.footer__describe {
  margin-left: 280px;
}

.footer__describe span {
  color: #a9a9a9;
  font-family: Poppins;
  font-size: 14px;
}
/*# sourceMappingURL=main.css.map */